<div #elementRef class="achievy achievy--{{options.type}} achievy--align-{{options.align}}" [class.achievy--adopted]="options.parent">
    <div class="achievy__body achievy__body--align-{{options.align}}">
        <span class="achievy__icon achievy__icon--{{options.type}}"></span>
        <div class="achievy__content">
            <p class="achievy__title achievy__title--{{options.type}}">{{options.title}}</p>
            <p class="achievy__message achievy__message--{{options.type}}">{{options.message}}</p>
        </div>
    </div>
</div>
